@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["page title"];
}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="~/css/numberCounterStyle.css" rel="stylesheet" />
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.numberCounterUp.js"></script>

<style>
    body, html {
        height: 100%;
    }

    .parallaxBackgroundForMainImage {
        /* Almost Full height */
        height: 90vh;
        min-height: 90vh;
        max-height: 90vh;
    }

    .parallaxImageForMainImage {
        /* Almost Full height */
        height: 90vh;
        min-height: 90vh;
        max-height: 90vh;
        width: auto;
        /* Create the parallax scrolling effect */
        position: fixed;
        left: 50%;
        top: 45%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        background-attachment: fixed;
        background-position: top center top center;
        background-repeat: no-repeat;
        background-size: auto 90vh;
        z-index: -1;
    }

    .hero-imageJalalabad27Image {
        background-image: url('/images/kelechekcompanyjalalabad27imagedecreased.webp');        
        height: 70vh;
        min-height: 65vh;
        max-height: 70vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .hero-imageAdygeneImage {
        background-image: url('/images/kelechekcompanyadygeneimagedecreased.webp');
        height: 70vh;
        min-height: 65vh;
        max-height: 70vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
</style>

<div class="parallaxBackgroundForMainImage">
    <img src="~/images/kelechekBurulsunFiveMainImageDemoSecond.webp" class="parallaxImageForMainImage" alt="@Localizer["jalalabad27"] - @Localizer["jalalabad27 description"]" />
</div>

<div class="bg-white">
    <div class="row">
        <div class="col-md m-5">
            <div><h5><i>@Localizer["jalalabad27 subtopic"]</i></h5></div>
            <div><h2>@Localizer["jalalabad27 with number"]</h2></div>
            <div>
                <p>&laquo;@Localizer["jalalabad27"]&raquo; @Localizer["jalalabad27 description"]</p>
            </div>
            <div></div>
        </div>
        <div class="col-md hero-imageJalalabad27Image text-center">
        </div>
    </div>
    <div class="row d-md-flex" style="background-color: #f7f7f7; ">
        <div class="col-md m-5 order-md-2">

            <div><h2>@Localizer["adygene"]</h2></div>
            <div>
                <p>@Localizer["adygene subtopic"]</p>
                <p>@Localizer["adygene description"]</p>
            </div>
            <div></div>
        </div>
        <div class="col-md hero-imageAdygeneImage text-center order-md-1">
        </div>


    </div>
    <div class="row">
        <div class="col-md m-5">
            <div><h5><i>@Localizer["jalalabad27 subtopic"]</i></h5></div>
            <div><h2>@Localizer["jalalabad27 with number"]</h2></div>
            <div>
                <p>&laquo;@Localizer["jalalabad27"]&raquo; @Localizer["jalalabad27 description"]</p>
            </div>
            <div></div>
        </div>
        <div class="col-md hero-imageJalalabad27Image text-center">
        </div>
    </div>

    <div class="p-5 text-center" style="background-color: #f7f7f7;">
        <h2 class="text-center ">@Localizer["who we are"]</h2>
        <p>@Localizer["who we are answer"]</p>

    </div>

    <div class="row p-5">
        <div class="col-lg-4">
            <div class="single-coutnerup">
                <p><span class="counter">30</span></p>
                <h4 class="title">@Localizer["years experience"]</h4>

            </div>
        </div>
        <div class="col-lg-4 pt-5 p-lg-0">
            <div class="single-coutnerup">
                <p><span class="counter">5000</span><span style="font-size: 50px; color: #fc4444;">+</span></p>
                <h4 class="title">@Localizer["active clients"]</h4>
            </div>
        </div>
        <div class="col-lg-4 pt-5 p-lg-0">
            <div class="single-coutnerup">
                <p><span class="counter">17</span></p>
                <h4 class="title">@Localizer["types of assortments"]</h4>
            </div>
        </div>
    </div>

    <div class="row m-0 pt-3 pb-3" style="background-color: #f7f7f7;">
        <div class="col-md-3"></div>
        <div class="col col-md-6">
            <form id="frmSendMessage" method="get">
                <h3 class="pl-3">@Localizer["send message"]</h3>
                <div class="form-row p-3">
                    <input type="text" class="form-control" id="txtName" name="txtName" placeholder="@Localizer["name and surname"]" required>
                </div>
                <div class="form-row p-3">
                    <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="@Localizer["email"]" required>
                </div>
                <div class="form-row p-3">
                    <input type="text" class="form-control" id="txtTheme" name="txtTheme" placeholder="@Localizer["topic"]" required>
                </div>
                <div class="form-row p-3">
                    <textarea class="form-control" id="txtMessage" name="txtMessage" placeholder="@Localizer["message"]" required></textarea>
                </div>
                <div class="form-row p-3">
                    <button id="btnSubmitMessage" class="btn btn-danger w-100 justify-content-center" type="submit">
                        @Localizer["send"]
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<script>
    $('.counter').countUp();

    $('container').height($(window).height() / 2);
</script>