@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{

    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.Name })
        .ToList();
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    string strPathValue = Context.Request.Path.Value;
    string strSecondForwaredSlashDeleted = String.Empty;
    string strFixedPathValue = String.Empty;
    string strFirstForwardSlashDeleted = (strPathValue).Substring((strPathValue).IndexOf("/") + 1);
    strSecondForwaredSlashDeleted = (strFirstForwardSlashDeleted).Substring((strFirstForwardSlashDeleted).IndexOf("/") + 1);

    if (strFirstForwardSlashDeleted.IndexOf("/") < 0)
    {
        strFixedPathValue = $"~/" + requestCulture.RequestCulture.UICulture.Name;
    }
    else
    {

        strFixedPathValue = $"~/" + requestCulture.RequestCulture.UICulture.Name + "/" + strSecondForwaredSlashDeleted;
    }

    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : strFixedPathValue;
}

<div title="@requestCulture?.Provider?.GetType().Name">
    <form id="selectLanguage" asp-controller="@requestCulture.RequestCulture.UICulture.Name"
          asp-action="SetLanguage" asp-route-returnUrl="@returnUrl"
          method="post" class="form-horizontal my-auto" role="form">
        <select id="countries"
                name="culture"
                onchange="this.form.submit();"
                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                class="pr-5 w-100">
            @for (int i = 0; i < cultureItems.Count; i++)
            {
                if (String.Equals(cultureItems[i].Value, "en"))
                {
            <option value="en" data-image="images/msdropdown/icons/blank.gif" data-imagecss="flag us">
                ENGLISH
            </option>
                }
                else if (String.Equals(cultureItems[i].Value, "ky"))
                {
            <option value="ky" data-image="images/msdropdown/icons/blank.gif" data-imagecss="flag kg">
                КЫРГЫЗЧА
            </option>
                }
                else if (String.Equals(cultureItems[i].Value, "ru")) {
            <option value="ru" data-image="images/msdropdown/icons/blank.gif" data-imagecss="flag ru">
                РУССКИЙ
            </option>
                }
            else if (String.Equals(cultureItems[i].Value, "tr")) {
            <option value="tr" data-image="images/msdropdown/icons/blank.gif" data-imagecss="flag tr">
                TÜRKÇE
            </option>
                }
                else
                {
            <option value="@cultureItems[i].Value" data-image="images/msdropdown/icons/blank.gif" data-imagecss="flag @cultureItems[i].Value">
                @cultureItems[i].Text
            </option>
                }
            }
        </select>
    </form>
</div>
